{% extends 'base.html' %} {% block head %}
<title>ImageCompressorInator3000</title>
{% endblock head%} {% block body %}
<div class="w-75">
  <div class="text-center">
    <h1>ImageCompressorInator3000</h1>
  </div>
  <!-- file, compress setting, and compress button -->
  <form method="post" action="/" enctype="multipart/form-data">
      <h5>upload Image</h3>
      <input type="file" name="image" class="form-control-lg" autocomplete="off" required />
      <h5>compress percentage</h3>
    <div class="slidecontainer">
      <input type="range" class="form-range" name="compressPercentage" min="1" max="100" value="50" class="slider" id="myRange" />
    </div>
    <div id="compressPercentage">50</div>
    <input type="submit" value="Compress!" class="btn btn-info" />
  </form>

  <!-- image preview -->
  <div class="d-flex border-dark">
    {% if compress %}
    <div class="mw-50 align-items-center">
      <img class="img-fluid" src="{{url_for('static',filename='img/base/'+ filename)}}" />
    </div>
    <div class="mw-50">
      <img class="img-fluid" src="{{url_for('static',filename='img/compressed.jpg')}}" />
    </div>
    {% else %}
    <div class="w-50" >
      <img class="img-fluid" src="{{url_for('static',filename='img/base/Untitled.png')}}" />
    </div>
    <div class="w-50">
      <img class="img-fluid" src="{{url_for('static',filename='img/noimage.png')}}" />
    </div>
    {% endif %}
  </div>
</div>
{% endblock body%}
