
* {
  /* border: 2px solid red; */
  margin: 2px;
}

img {
  float: left;
  padding: 30px;
 
} 

#luaran {
  margin: 0;
  background: white;
}

#gambar-display {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  height: 100%;
  width: 100%;
}
#gambar-noimg {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  height: 100%;
  width: 100%;
  float: right;
}

#log-kompresi{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
  border-style: dashed;
  border-color: black;
}


