
* {
  /* border: 2px solid red; */
  margin: 2px;
}

img {
  width: 500px;
  float: left;
} */

#luaran {
  margin: 0;
  background: white;
}

#gambar-display {
  border-style: solid;
  border-color: black;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
}

#log-kompresi{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
  border-style: dashed;
  border-color: black;
  max-height: 50%;
}